# Ignore todo file.
docs/todo.md

# Ignore the configuration files. For simplicity I have checked
# in the settings file though normally it would be ignored.
# #conf/settings.json

# Ignore project files.
NERD_tree_1
[[buffergator-buffers]]
.idea

# Ignore node transient artifacts.
node_modules
[[buffergator-buffers]]
